openapi: 3.0.0
servers:
- description: live url
  url: https://api.salesplaypos.com/v1.0/
info:
  version: '1.0'
  title: SalesPlay API
  description: |
    # Using the REST API

      SalesPlay API follows the general REST API patterns developed with secure connections. HTTPS requests to the URLs. Endpoints are mentioned below.

      To begin testing SalesPlay APIs with Postman, follow these instructions:

      1.  Install and download Postman. Here is where to obtain it: [https://www.getpostman.com](https://www.getpostman.com )

      2.  Get [SalesPlay API Postman Collection](https://developer.salesplay.com/download_postman_collection.php) and import it into Postman.

      3.  Define variables used in the Postman collection. For example, in the SalesPlay production environment for SalesPlay API v1.0, you should define the following variables in your Postman environment:

          1. baseUrl : Set this to [https://api.salesplaypos.com/v1.0]()

          2. Token : Obtain this from the SalesPlay Backoffice

          To get your access token:

          1. Log in to the SalesPlay Backoffice at [https://cloud.salesplaypos.com/](https://cloud.salesplaypos.com/)

          2. Navigate to the Access token page under Integrations.

          3. Generate and copy your access token.

      Configuring these variables in Postman environments is useful as it allows you to reuse them across multiple requests without manual redefinition. This approach streamlines your API testing process and makes it easier to switch between different environments (e.g., production, staging, development).

      Remember to keep your access token secure and never share it publicly.

    # Versioning

      The SalesPlay API uses versioning. This documentation is for version 1.0 of the API. Version must be specified in the base URL, for example: [https://api.salesplaypos.com/v1.0]()

    # Authorization

      An application credential is any piece of information that identifies, authenticates, or authorizes an application in some way.

      SalesPlay API provide following authorization methods:

      - Personal access tokens
      - OAuth 2.0

    ## Personal access tokens

      Personal access tokens provide a simple and secure way to authenticate API calls. This authorization method is ideal for scenarios such as running periodic scripts that interact with data in your own account.

      To obtain your personal access token:

      1. Log in to the SalesPlay Backoffice at [https://cloud.salesplaypos.com/](https://cloud.salesplaypos.com/)

      2. Navigate to the Access token page under Integrations

      3. Generate and copy your access token

      For every API call, you must include your access token in the Authorization header. The header should be structured as follows:

      ```plaintext
      {
          Token : Bearer YOUR_ACCESS_TOKEN
      }
      ```
      Replace YOUR_ACCESS_TOKEN with the actual token you obtained from the SalesPlay Backoffice.

      Remember to keep your access token confidential and never share it publicly. If you suspect your token has been compromised, regenerate it immediately in the SalesPlay Backoffice.

      By using your personal access token correctly in the Authorization header, you can securely authenticate your requests to the SalesPlay API.

    ## OAuth 2.0

      The main steps of OAuth flow are:

      1. Log in to the SalesPlay Backoffice at [https://cloud.salesplaypos.com/](https://cloud.salesplaypos.com/)

      2. Navigate to the OAuth 2.0 setup page under Integrations and create a new app by providing the necessary details, such as the app name, and selecting the permissions required by your app. You can find the full list of available permissions on that page.

      3. After successfully creating your app you will be given a set of 3 unique keys **App ID, App secret** and **Authorization Code** which are used to identify your app and are required to complete the authorization process.

      4. Once you have the authorization code, your app can now request an access token by sending a request to the following Access Token URL:

      ```plaintext
         https://api.salesplaypos.com/v1.0/oauth/token
      ```
      - The payload of your request must be with Content-Type: application/x-www-form-urlencoded and include:

        - client_id: The App id provided when creating your app.
        - client_secret: The App secret provided when creating your app.
        - grant_type: authorization_code
        - code:  The Authorization Code provided when creating your app.

        In case of successful request you will get a response with an access token. Response example:

      ```plaintext
          {
            "access_token": "d6a4a1ceb2b6738352ddc945a676c5cf37d8ca4e",
            "expires_in": 3600,
            "token_type": "Bearer",
            "scope": "OptNZG",
            "refresh_token": "b54f8bc7235272c569c1ec25684a430c5d94050b"
          }
      ```
      Once you receive an access token you can use it to interact with the SalesPlay API on behalf of the merchant by providing the access token in an Authorization header.

    ### Refreshing access token

      When the access token expires you can obtain a new one by making POST request to ``` https://api.salesplaypos.com/v1.0/oauth/token ``` with the following parameters:

      - client_id
      - client_secret
      - refresh_token
      - grant_type (specify "refresh_token")

    # Pagination

      Some API endpoints paginate their responses to make the result set easier to handle. For example, if you request a list of items that is potentially too large to handle efficiently, the endpoint will return the first batch of results along with a marker of some kind to access the next batch of results. You may be able to avoid dealing with pagination by narrowing your initial request.

      Paginated results include a cursor field as part of the response body. To fetch the next set of results, send a followup request to the same endpoint and provide the cursor value returned in the previous response as a query parameter. When the endpoint sends the final set of results, the response body will not include a cursor field.

      It is possible to change the number of objects returned in the response. It can be done by passing the limit parameter. Default value is 10 and maximum is 250.

      # API rate limits
      The SalesPlay API platform applies rate limits to the API requests that it receives. Every request is subject to throttling under our general limits. There are additional resource-based rate limits. Your app should be prepared to implement retry behavior if it is throttled. The current limit is 300 requests per 300 sec per account. All requests that are made after rate limits have been exceeded are throttled and an HTTP **429 Too Many Requests** error is returned.


    # Date and time format

      All dates and times in the API are in 24 hours format. In requests you should specify dates and times in 24 hours format. When processing responses you should convert dates and times to your local time.

    # Handling errors

      The API will return an Error List for a failed request, which will contain one or more Error objects.

      ```plaintext
          {
              "errors": {
                  "code": "UNAUTHORIZED",
                  "details": "Access token is not valid."
              }
          }
      ```

      The SalesPlay API uses the following error codes:

      | Error code | Description |
      | ------ | ------ |
      | 401 UNAUTHORIZED | An authentication error. Request had a missing, malformed, or invalid authorization data |

    # Webhooks overview

      Real-time notifications for various SalesPlay system events are most effectively delivered through webhooks. While periodic polling of specific endpoints can maintain synchronization with SalesPlay updates, webhooks provide a more efficient solution for this requirement.

      Supported webhook events:

      | Event | Description |
      | ------ | ------ |
      | inventory_levels.update | Webhook is fired when a item’s inventory is updated. |
      | Products.update | Webhook is fired when an product is created, updated or deleted. |
      | customers.update | Webhook is fired when a customer is created, updated or deleted. |
      | receipts.update | Webhook is fired when a receipt is created or updated. |
      | credit_note.update | Webhook is fired when a credit note or cash refund is created or updated. |

      Upon event occurrence, SalesPlay gathers the relevant event data, generates a notification, and transmits it via POST request to the notification URL that was registered during webhook configuration.

    ## Adding webhook

     There are two ways to configure webhooks:

     - Using /webhook endpoint
     - Using web interface which can be accessed on [https://cloud.salesplaypos.com/webhooks_setup](https://cloud.salesplaypos.com/webhooks_setup)

     Each webhook subscription is limited to a single event type. The pairing of event type and URL must remain unique across all webhook configurations. The designated URL must follow proper formatting standards, utilize HTTP or HTTPS protocol, and maintain accessibility for successful webhook delivery.

     ## Webhook payload

      After webhook creation, SalesPlay will dispatch an HTTP POST request to the configured URL whenever the subscribed event triggers. Each POST request includes JSON data containing details about the object that initiated the event, along with HTTP headers that provide contextual information.

      Payload example for `inventory_levels.update` event type:

      ```plaintext
          {
            "merchant_id": "WFpYWmQwMkJGVWtDT3RHY1NHYjdBT0YzZE5xOD0=",
            "type": "inventory_levels.update",
            "created_at": "2025-06-30 12:54:31",
            "inventory_levels": [
              {
                "product_id": "QWhxek54UkQ3eTArdml2d1NkSDVnUT09",
                "shop_id": "bHF2M2pMakkzTVZ0NFh2SE1WNnNoUT09",
                "product_code": "10003",
                "in_stock": 10
              }
            ]
          }
      ```

    ## Testing webhook
     When creating webhooks through the web interface, you can validate your configuration by triggering a test notification. SalesPlay will dispatch a test POST request containing sample data to your specified URL. For webhook testing purposes, you can either run your own server or utilize external services like Beeceptor.

    ## Request timeout and retries
     Upon receiving webhook requests, your endpoint must return a 2xx HTTP status code. Any response code outside the 2xx range will be treated as a delivery failure by SalesPlay. The system does not process redirects for webhook notifications and classifies them as error responses. Following delivery failures, SalesPlay will attempt to resend the request up to 200 times within a 48-hour window. If no 2xx response is received during this period, the webhook status will automatically change to "Disabled".
paths:
  /webhooks:
    get:
      tags:
      - Webhooks
      description: Retrieve one webhook by `id`, or every webhook registered on the account when no `id` is sent (the response
        is then a JSON array of the same objects).
      operationId: Get a single of webhook
      responses:
        '200':
          description: Webhook details fetched successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier of the webhook
                  merchant_id:
                    type: string
                    description: Encrypted merchant ID
                  url:
                    type: string
                    format: uri
                    description: Registered webhook URL
                  type:
                    type: string
                    description: Webhook event type
                  status:
                    type: string
                    description: 'Webhook status: `ENABLED` or `DISABLED`'
                  created_at:
                    type: string
                    format: date-time
                    description: The creation date of the webhook (Y-m-d H:i:s) 24 hours format
                  updated_at:
                    type: string
                    format: date-time
                    description: The last updated date of the webhook (Y-m-d H:i:s) 24 hours format
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: The unique identifier of the webhook to retrieve. Omit it to receive an array of every webhook
                    on the account.
    post:
      tags:
      - Webhooks
      description: This API will allow create webhook from SalesPlay POS.
      operationId: Create a single webhook
      responses:
        '200':
          description: Webhook registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier of the webhook
                  merchant_id:
                    type: string
                    description: Encrypted merchant ID
                  url:
                    type: string
                    format: uri
                    description: Registered webhook URL
                  type:
                    type: string
                    description: Webhook event type
                  status:
                    type: string
                    description: 'Webhook status: `ENABLED` or `DISABLED`'
                  created_at:
                    type: string
                    format: date-time
                    description: The creation date of the webhook (Y-m-d H:i:s) 24 hours format
                  updated_at:
                    type: string
                    format: date-time
                    description: The last updated date of the webhook (Y-m-d H:i:s) 24 hours format
                example:
                  id: RDYzUXdTT21zRkw4TWY4Nk5sUW5xQT09
                  merchant_id: NDRnNnhWRGpXSWxsQmtiVkhiQ0M4SlJNM1NvaXRiajJlQXJsc3JXVG1tOD0=
                  url: https://example.com/webhooks/salesplay
                  type: receipts.update
                  status: DISABLED
                  created_at: '2026-09-14 15:19:46'
                  updated_at: '2026-09-14 15:19:46'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                  description: The URL to which webhook data will be sent.
                type:
                  type: string
                  enum:
                  - receipts.update
                  description: The event to subscribe to. See the Webhooks overview for the list of events.
                status:
                  type: string
                  enum:
                  - ENABLED
                  - DISABLED
                  description: Status of the webhook.
                master_username:
                  type: string
                  format: email
                  description: Master account username for the merchant.
              required:
              - url
              - type
              - status
              - master_username
    delete:
      tags:
      - Webhooks
      description: This API deletes a specific webhook from SalesPlay POS using its ID.
      operationId: Delete a single webhook
      responses:
        '200':
          description: Webhook deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted_object_ids:
                    type: string
                    description: ID of the deleted webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: The unique identifier of the webhook to delete.
              required:
              - id
  /category:
    get:
      tags:
      - Categories
      description: This API will allow get the list of categories from SalesPlay POS.
      operationId: Get a list of categories
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for the category
                        category_name:
                          type: string
                          description: The name of the category
                        item_classification_code:
                          type: string
                          description: The item classification code of the category
                        created_at:
                          type: string
                          format: date-time
                          description: The creation date of the category (Y-m-d H:i:s) 24 hours format
                        updated_date:
                          type: string
                          format: date-time
                          description: The last updated date of the category (Y-m-d H:i:s) 24 hours format
                  cursor: &id001
                    type: string
                    description: Pagination cursor. Send it back in the next request to fetch the following page; absent on
                      the last page.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                category_ids:
                  type: string
                  description: Return only categories specified by a comma-separated list of IDs
                created_at_min:
                  type: string
                  format: date-time
                  description: Minimum create date (Y-m-d H:i:s) 24 hours format
                created_at_max:
                  type: string
                  format: date-time
                  description: Maximum create date (Y-m-d H:i:s) 24 hours format
                limit:
                  type: integer
                  default: 10
                  description: Number of categories to return
                cursor:
                  type: string
                  description: Cursor for pagination
    post:
      tags:
      - Categories
      description: This API will allow create categories from SalesPlay POS.
      operationId: Create or update a single category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category_name:
                  type: string
                  description: The name of the category
                item_classification_code:
                  type: string
                  description: The item classification code of the category
                created_at:
                  type: string
                  format: date-time
                  description: The creation date of the category (Y-m-d H:i:s) 24 hours format
              required:
              - category_name
              - created_at
      responses:
        '200':
          description: Category created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier for the category
                  name:
                    type: string
                    description: The name of the category
                  item_classification_code:
                    type: string
                    description: The item classification code of the category
                  created_at:
                    type: string
                    format: date-time
                    description: The creation date of the category (Y-m-d H:i:s) 24 hours format
    delete:
      tags:
      - Categories
      description: This API will delete a category from SalesPlay POS.
      operationId: Delete a single category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category_id:
                  type: string
                  description: The unique identifier for the category to delete
              required:
              - category_id
      responses:
        '200':
          description: Category deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: object
                    properties:
                      code:
                        type: string
                        description: 200
                      details:
                        type: string
                        description: Category deleted successfully
                      category_id:
                        type: string
                        description: The deleted category ID
  /sub_category:
    get:
      tags:
      - Sub categories
      description: This API will allow get the list of sub categories from SalesPlay POS.
      operationId: Get a list of sub categories
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  cursor:
                    type: string
                    description: Cursor for pagination
                  sub_categories:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for the subcategory
                        category_name:
                          type: string
                          description: The name of the category
                        sub_category_name:
                          type: string
                          description: The name of the subcategory
                        created_at:
                          type: string
                          format: date-time
                          description: The creation date of the subcategory (Y-m-d H:i:s) 24 hours format
                        updated_date:
                          type: string
                          format: date-time
                          description: The last updated date of the subcategory (Y-m-d H:i:s) 24 hours format
                example:
                  sub_categories:
                  - id: cFlMNG5WaEIwcHJVWitteURyOHNNZz09
                    category_name: Beverages
                    sub_category_name: Juices
                    created_at: '2026-09-14 12:00:00'
                    updated_date: '2026-09-14 15:17:26'
                  cursor: MT@sMT@=
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sub_category_ids:
                  type: string
                  description: Filter by subcategory IDs
                created_at_min:
                  type: string
                  format: date-time
                  description: Minimum create date (Y-m-d H:i:s) 24 hours format
                created_at_max:
                  type: string
                  format: date-time
                  description: Maximum create date (Y-m-d H:i:s) 24 hours format
                limit:
                  type: integer
                  default: 10
                  description: Number of subcategories to return
                cursor:
                  type: string
                  description: Cursor for pagination
    post:
      tags:
      - Sub categories
      description: This API will allow to create sub categories from SalesPlay POS.
      operationId: Create or update a single sub category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category_id:
                  type: string
                  description: The ID of the parent category
                sub_category_name:
                  type: string
                  description: The name of the subcategory
                created_at:
                  type: string
                  format: date-time
                  description: The creation date of the subcategory (Y-m-d H:i:s) 24 hours format
              required:
              - category_id
              - sub_category_name
              - created_at
      responses:
        '200':
          description: Subcategory created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier for the subcategory
                  category_name:
                    type: string
                    description: The name of the parent category
                  sub_category_name:
                    type: string
                    description: The name of the subcategory
                  created_at:
                    type: string
                    format: date-time
                    description: The creation date of the subcategory (Y-m-d H:i:s) 24 hours format
    delete:
      tags:
      - Sub categories
      description: This API will delete a sub category from SalesPlay POS.
      operationId: Delete a single sub category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category_id:
                  type: string
                  description: The ID of the parent category
                sub_category_id:
                  type: string
                  description: The ID of the sub category
              required:
              - category_id
              - sub_category_id
      responses:
        '200':
          description: Sub Category deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: object
                    properties:
                      code:
                        type: string
                        example: SUCCESS
                        description: 200
                      details:
                        type: string
                        example: Sub Category successfully deleted.
                        description: Sub Category successfully deleted.
  /measurements:
    get:
      tags:
      - Measurements
      description: This API will allow get the list of measurements from SalesPlay POS.
      operationId: Get a list of measurements
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  measurements:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for the measurement
                        measurement_name:
                          type: string
                          description: The name of the measurement
                        weight_scale_enable:
                          type: string
                          description: Indicates if weight scale is enabled
                        created_at:
                          type: string
                          format: date-time
                          description: The creation date of the measurement (Y-m-d H:i:s) 24 hours format
                        updated_date:
                          type: string
                          format: date-time
                          description: The last updated date of the measurement (Y-m-d H:i:s) 24 hours format
                  cursor:
                    type: string
                    description: Cursor for pagination
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                measurement_ids:
                  type: string
                  description: Filter by measurement IDs
                created_at_min:
                  type: string
                  format: date-time
                  description: Minimum creation date (Y-m-d H:i:s) 24 hours format
                created_at_max:
                  type: string
                  format: date-time
                  description: Maximum creation date (Y-m-d H:i:s) 24 hours format
                limit:
                  type: integer
                  default: 10
                  description: Number of measurements to return
                cursor:
                  type: string
                  description: Cursor for pagination
    post:
      tags:
      - Measurements
      description: This API will allow to create measurements from SalesPlay POS.
      operationId: Create or update a single measurements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                measurement_name:
                  type: string
                  description: The name of the measurement
                weight_scale_enable:
                  type: integer
                  description: Indicates if weight scale is enabled (0 for disabled, 1 for enabled)
                created_at:
                  type: string
                  format: date-time
                  description: The creation date of the measurement (Y-m-d H:i:s) 24 hours format
              required:
              - measurement_name
              - weight_scale_enable
              - created_at
      responses:
        '200':
          description: Measurement created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier for the measurement
                  measurement_name:
                    type: string
                    description: The name of the measurement
                  weight_scale_enable:
                    type: string
                    description: Indicates if weight scale is enabled
                  created_at:
                    type: string
                    format: date-time
                    description: The creation date of the measurement (Y-m-d H:i:s) 24 hours format
                  updated_at:
                    type: string
                    format: date-time
                    description: The last updated date of the measurement (Y-m-d H:i:s) 24 hours format
    delete:
      tags:
      - Measurements
      description: This API will delete a measurement from SalesPlay POS.
      operationId: Delete a single measurement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                measurement_id:
                  type: string
                  description: The measurement ID to delete
              required:
              - measurement_id
      responses:
        '200':
          description: Measurement deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: object
                    properties:
                      code:
                        type: string
                        example: SUCCESS
                        description: SUCCESS
                      details:
                        type: string
                        example: Measurement deleted successfully.
                        description: Measurement deleted successfully.
  /taxes:
    get:
      tags:
      - Taxes
      description: This API will allow get the list of taxes from SalesPlay POS.
      operationId: Get a list of taxes
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  taxes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for the tax
                        tax_type:
                          type: string
                          description: Type of tax
                        tax_code:
                          type: string
                          description: Tax code
                        tax_name:
                          type: string
                          description: Name of the tax
                        rate:
                          type: string
                          description: Tax rate
                        shops:
                          type: array
                          items:
                            type: string
                          description: List of shops associated with the tax
                        created_at:
                          type: string
                          format: date-time
                          description: The creation date of the tax (Y-m-d H:i:s) 24 hours format
                        calculation_method:
                          type: string
                          description: 'How the tax is applied: `ADDED` on top of the price or `INCLUDED` in it'
                        apply_tax_after_other_taxes:
                          type: integer
                          description: 1 if this tax is calculated after other taxes
                        is_tax_price_change:
                          type: integer
                          description: 1 if the tax changes the displayed price
                  cursor:
                    type: string
                    description: Cursor for pagination
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                tax_ids:
                  type: string
                  description: Filter by tax IDs
                created_at_min:
                  type: string
                  format: date-time
                  description: Minimum creation date (Y-m-d H:i:s) 24 hours format
                created_at_max:
                  type: string
                  format: date-time
                  description: Maximum creation date (Y-m-d H:i:s) 24 hours format
                limit:
                  type: integer
                  default: 10
                  description: Number of taxes to return
                cursor:
                  type: string
                  description: Cursor for pagination
    post:
      tags:
      - Taxes
      description: This API will allow to create Taxes from SalesPlay POS.
      operationId: Create or update a single Taxes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tax_type:
                  type: string
                  enum:
                  - TAX
                  - CHARGE
                  description: Type of the tax, either TAX or CHARGE.
                  example: TAX
                calculation_method:
                  type: string
                  enum:
                  - ADDED
                  - INCLUDED
                  - FIXED
                  description: Method of tax calculation, either ADDED, INCLUDED or FIXED.
                  example: ADDED
                tax_name:
                  type: string
                  description: Name of the tax.
                  example: VAT2
                rate:
                  type: integer
                  description: Rate of the tax.
                  example: 10
                apply_tax_after_other_taxes:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Whether to apply this tax after other taxes (1 for true, 0 for false).
                  example: 1
                is_tax_price_change:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Indicates if the tax affects the price change (1 for true, 0 for false).
                  example: 0
                shops:
                  type: array
                  items:
                    type: string
                    format: uuid
                created_at:
                  type: string
                  format: date-time
                  description: The creation date of the taxes (Y-m-d H:i:s) 24 hours format
              required:
              - tax_type
              - tax_name
              - rate
              - shops
              - created_at
      responses:
        '200':
          description: Tax created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier for the created tax.
                  tax_type:
                    type: string
                    description: Type of the tax, either TAX or CHARGE.
                  calculation_method:
                    type: string
                    description: Method of tax calculation, either ADDED, INCLUDED or FIXED.
                  tax_code:
                    type: string
                    description: Code representing the tax.
                  tax_name:
                    type: string
                    description: Name of the tax.
                  rate:
                    type: integer
                    description: Rate of the tax.
                    example: 10
                  apply_tax_after_other_taxes:
                    type: integer
                    description: Whether the tax is applied after other taxes (1 for true, 0 for false).
                    example: 1
                  is_tax_price_change:
                    type: integer
                    description: Indicates if the tax affects the price change (1 for true, 0 for false).
                    example: 0
                  shops:
                    type: array
                    items:
                      type: string
                      format: uuid
                      description: List of shop UUIDs where the tax applies.
                  created_at:
                    type: string
                    format: date-time
                    description: The date and time when the tax was created.
    delete:
      tags:
      - Taxes
      description: This API will allow deleting taxes from SalesPlay POS.
      operationId: Delete a single tax
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - tax_code
              - shops
              properties:
                tax_code:
                  type: string
                  description: Unique tax code to be deleted
                  example: TC750
                shops:
                  type: array
                  description: List of shop IDs where the tax should be deleted
                  items:
                    type: string
                  example:
                  - UjFEdGgwbmU1eDdRWkJVdDd1ZWRSUT09
      responses:
        '200':
          description: Tax deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: object
                    properties:
                      code:
                        type: string
                        example: SUCCESS
                      details:
                        type: string
                        example: successfully deleted.
  /customers:
    get:
      tags:
      - Customers
      description: This API will allow get the list of customers from SalesPlay POS.
      operationId: Get list of customers
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  customers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier of the customer
                        customer_code:
                          type: string
                          description: Code assigned to the customer
                        name:
                          type: string
                          description: Customer's full name
                        email:
                          type: string
                          description: Customer's email address
                        phone_number:
                          type: string
                          description: Customer's phone number
                        address:
                          type: string
                          description: Customer's street address
                        city:
                          type: string
                          description: City of the customer
                        region:
                          type: string
                          description: Region or state of the customer
                        postal_code:
                          type: string
                          description: Postal code
                        country_code:
                          type: string
                          description: ISO country code
                        vat_number:
                          type: string
                          description: VAT number
                        tin_number:
                          type: string
                          description: Tax Identification Number
                        description:
                          type: string
                          description: Optional description or notes
                        first_visit:
                          type: string
                          format: date
                          description: Date of the first visit
                        last_visit:
                          type: string
                          format: date
                          description: Date of the last visit
                        total_visits:
                          type: string
                          description: Number of visits
                        total_spent:
                          type: string
                          description: Total amount spent by the customer
                        total_points:
                          type: string
                          description: Total loyalty/reward points earned
                        credit_limit:
                          type: integer
                          description: Customer Credit limit
                        created_at:
                          type: string
                          format: date-time
                          description: Timestamp of when the customer was created
                        updated_at:
                          type: string
                          format: date-time
                          description: Timestamp of when the customer was last updated
                        membership_status:
                          type: string
                          description: Additional Details of the Membership status
                        membership_details:
                          type: object
                          description: Membership details
                          properties:
                            start_date:
                              type: string
                              format: date
                              description: Membership start date.
                            end_date:
                              type: string
                              format: date
                              description: Membership end date.
                            discount_plan:
                              type: string
                              description: Name of the discount plan.
                            discount_plan_id:
                              type: string
                              description: The unique identifier of the discount plan.
                        business_registration_number:
                          type: string
                          description: Business registration number
                        customer_id_type_code:
                          type: string
                          description: Code of the ID document type
                        customer_id_type_name:
                          type: string
                          description: Name of the ID document type
                        customer_id_number:
                          type: string
                          description: ID document number
                  cursor:
                    type: string
                    description: Cursor for pagination
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_ids:
                  type: string
                  description: Comma-separated list of customer IDs
                email:
                  type: string
                  description: Filter customers by email
                created_at_min:
                  type: string
                  format: date-time
                  description: Minimum creation date (Y-m-d H:i:s) 24 hours format
                created_at_max:
                  type: string
                  format: date-time
                  description: Maximum creation date (Y-m-d H:i:s) 24 hours format
                limit:
                  type: integer
                  default: 10
                  description: Number of customers to return
                cursor:
                  type: string
                  description: Cursor for pagination
    post:
      tags:
      - Customers
      description: This API will allow to create customers from SalesPlay POS.
      operationId: Create or update a single customer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: Customer's first name.
                last_name:
                  type: string
                  description: Customer's last name.
                email:
                  type: string
                  format: email
                  description: Customer's email address.
                phone:
                  type: string
                  description: Customer's phone number.
                address:
                  type: string
                  description: Customer's street address.
                city:
                  type: string
                  description: Customer's city.
                region:
                  type: string
                  description: Customer's region or state.
                postal_code:
                  type: string
                  description: Postal or ZIP code.
                country_code:
                  type: string
                  description: ISO country code (e.g., LK for Sri Lanka).
                date_of_birth:
                  type: string
                  format: date
                  description: Date of birth of the customer (YYYY-MM-DD).
                billing_name:
                  type: string
                  description: Billing name of the customer.
                business_name:
                  type: string
                  description: Registered business name.
                customer_code:
                  type: string
                  description: Custom code identifying the customer.
                description:
                  type: string
                  description: Additional details or notes about the customer.
                vat_number:
                  type: string
                  description: Customer's VAT number.
                tin_number:
                  type: string
                  description: Customer's Tax Identification Number (TIN).
                id_type:
                  type: string
                  description: Type of identification document (supported ID types - NA / NRIC / PASSPORT / ARMY / MyPR /
                    MyKAS / BRN).
                id_number:
                  type: string
                  description: Identification number.
                business_registration_number:
                  type: string
                  description: Business registration number.
                credit_limit:
                  type: number
                  description: Customer Credit limit.
              required:
              - first_name
      responses:
        '200':
          description: Customer created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Response code for success.
                      details:
                        type: string
                        description: Details of the success message.
                      customer_id:
                        type: string
                        description: Encrypted ID of the created customer
                example:
                  success:
                    code: SUCCESS
                    details: Customer successfully created
                    customer_id: VG5pZ0oyMFByUktDZDB0V2J3RHVtdz09
    delete:
      tags:
      - Customers
      description: This API will allow to delete customers from SalesPlay POS.
      operationId: Delete a single Customer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_id:
                  type: string
                  description: Unique identifier of the customer to be deleted.
              required:
              - customer_id
      responses:
        '200':
          description: Customer deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Response code for success.
                      details:
                        type: string
                        description: Details of the success message.
  /employee:
    get:
      tags:
      - Employee
      description: This API will allow get the list of employees from SalesPlay POS.
      operationId: Get list of employees
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  cursor:
                    type: string
                    description: Cursor for pagination
                  employees:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique identifier of the employee
                        Name:
                          type: string
                          description: Employee name
                        User_Role:
                          type: string
                          description: Role of the employee
                        POS_Login_PIN:
                          type: string
                          description: POS login PIN
                        POS_user_name:
                          type: string
                          description: POS username
                        Backoffice_login_email:
                          type: string
                          format: email
                          description: Backoffice login email
                        Phone:
                          type: string
                          description: Employee phone number
                        shops:
                          type: array
                          description: List of shop IDs assigned to the employee
                          items:
                            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                employee_ids:
                  type: string
                  description: Comma-separated list of employee IDs
                created_at_min:
                  type: string
                  format: date-time
                  description: Minimum creation date (Y-m-d H:i:s) 24 hours format
                created_at_max:
                  type: string
                  format: date-time
                  description: Maximum creation date (Y-m-d H:i:s) 24 hours format
                limit:
                  type: integer
                  default: 10
                  description: Number of customers to return
                cursor:
                  type: string
                  description: Cursor for pagination
  /suppliers:
    get:
      tags:
      - Suppliers
      description: This API will allow get the list of suppliers from SalesPlay POS.
      operationId: Get a list of suppliers
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  suppliers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier for the supplier
                        supplier_name:
                          type: string
                          description: The name of the supplier
                        supplier_id:
                          type: string
                          description: The ID of the supplier
                        phone_number:
                          type: string
                          description: The phone number of the supplier
                        email:
                          type: string
                          description: The email address of the supplier
                        type:
                          type: string
                          description: Type of the supplier
                        address:
                          type: string
                          description: The address of the supplier
                        created_at:
                          type: string
                          format: date-time
                          description: The creation date of the supplier (Y-m-d H:i:s) 24 hours format
                  cursor:
                    type: string
                    description: Cursor for pagination
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                supplier_ids:
                  type: string
                  description: Filter by supplier IDs
                updated_at_min:
                  type: string
                  format: date-time
                  description: Minimum update date (Y-m-d H:i:s) 24 hours format
                updated_at_max:
                  type: string
                  format: date-time
                  description: Maximum update date (Y-m-d H:i:s) 24 hours format
                limit:
                  type: integer
                  default: 10
                  description: Number of suppliers to return
                cursor:
                  type: string
                  description: Cursor for pagination
    post:
      tags:
      - Suppliers
      description: This API will allow to create suppliers from SalesPlay POS.
      operationId: Create or update a single supplier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                supplier_name:
                  type: string
                  description: The name of the supplier. Only letters, numbers, dot (.) and underscore (_) are accepted.
                supplier_id:
                  type: string
                  description: The ID of the supplier
                phone_number:
                  type: string
                  description: The phone number of the supplier
                email:
                  type: string
                  description: The email address of the supplier
                type:
                  type: string
                  description: Type of the supplier (Possible supplier types - Cash, Credit, N/A)
                address:
                  type: string
                  description: The address of the supplier
                description:
                  type: string
                  description: Description of the supplier
                created_at:
                  type: string
                  format: date-time
                  description: The creation date of the supplier (Y-m-d H:i:s) 24 hours format
              required:
              - supplier_name
              - supplier_id
              - type
              - created_at
      responses:
        '200':
          description: Supplier created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier for the supplier
                  supplier_name:
                    type: string
                    description: The name of the supplier
                  supplier_id:
                    type: string
                    description: The ID of the supplier
                  phone_number:
                    type: string
                    description: The phone number of the supplier
                  email:
                    type: string
                    description: The email address of the supplier
                  type:
                    type: string
                    description: Type of the supplier
                  address:
                    type: string
                    description: The address of the supplier
                  created_at:
                    type: string
                    format: date-time
                    description: The creation date of the supplier (Y-m-d H:i:s) 24 hours format
    delete:
      tags:
      - Suppliers
      description: This API will delete a supplier from SalesPlay POS.
      operationId: Delete a single supplier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                supplier_id:
                  type: string
                  description: The supplier ID to delete
              required:
              - supplier_id
      responses:
        '200':
          description: Supplier deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: object
                    properties:
                      code:
                        type: string
                        example: SUCCESS
                        description: SUCCESS
                      details:
                        type: string
                        example: Supplier deleted successfully.
                        description: Supplier deleted successfully.
  /products:
    get:
      tags:
      - Product
      description: This API will allow get the list of products from SalesPlay POS.
      operationId: Get a list of products
      responses:
        '200':
          description: Customer login
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Read-only internal id of the item. If included in the POST request it will cause an
                            update instead of a creating a new object.
                        product_code:
                          type: string
                          description: The product code
                        product_name:
                          type: string
                          description: The product name
                        category:
                          type: string
                          description: The category of the product
                        sub_category:
                          type: string
                          description: The subcategory of the product
                        stock_control:
                          type: boolean
                          description: Indicates if stock control is enabled for the product
                        stock_expire_mode:
                          type: boolean
                          description: Indicates if stock expiration mode is enabled for the product
                        safety_stock:
                          type: string
                          description: Safety stock value
                        price_change:
                          type: boolean
                          description: Indicates if price change is allowed for the product
                        cost:
                          type: string
                          description: Cost of the product
                        quantity_change:
                          type: boolean
                          description: Indicates if quantity change is allowed for the product
                        barcode:
                          type: string
                          description: Barcode of the product
                        measurement:
                          type: string
                          description: Measurement unit of the product
                        tax_codes:
                          type: array
                          items:
                            type: string
                          description: Array of tax codes associated with the product
                        is_vat_product:
                          type: boolean
                          description: Indicates if the product is a VAT product
                        is_composite:
                          type: boolean
                          description: Indicates if the product is a composite product
                        use_production:
                          type: boolean
                          description: Indicates if production is used for the product
                        components:
                          type: array
                          items:
                            type: object
                          description: Array of components for composite products
                        is_combo:
                          type: boolean
                          description: Indicates if the product is a combo product
                        combo_sets:
                          type: array
                          items:
                            type: object
                          description: Array of combo sets for combo products
                        modifier_group_ids:
                          type: array
                          items:
                            type: string
                          description: Array of modifier group IDs associated with the product
                        is_ingredient:
                          type: boolean
                          description: Indicates if the product is an ingredient
                        image_url:
                          type: string
                          format: uri
                          description: URL of the product image
                        shops:
                          type: array
                          items:
                            type: object
                            properties:
                              shop_id:
                                type: string
                                description: Shop ID
                              price:
                                type: string
                                description: Price of the product in the shop
                              available_for_sale:
                                type: boolean
                                description: Indicates if the product is available for sale in the shop
                              safety_stock:
                                type: string
                                description: Safety stock value for the shop
                          description: Array of shop information for the product
                        created_date:
                          type: string
                          format: date-time
                          description: Date and time of the product creation
                        updated_date:
                          type: string
                          format: date-time
                          description: Date and time of the product update
                        variants:
                          type: array
                          description: Array of variants associated with the product
                          items:
                            type: object
                        delete_date:
                          type: string
                          format: date-time
                          description: Date and time if product deleted
                  cursor: *id001
                example:
                  products:
                  - id: SC9hT1d5Skllc2VSTGF2dkJZVzYzdz09
                    product_code: '10034'
                    product_name: Aba Juice cup
                    category: Maïs
                    sub_category: ''
                    stock_control: false
                    stock_expire_mode: false
                    safety_stock: ''
                    price_change: false
                    cost: 0
                    quantity_change: false
                    barcode: ''
                    measurement: ''
                    tax_codes: []
                    is_vat_product: false
                    is_composite: false
                    use_production: false
                    components: []
                    is_combo: false
                    combo_sets: []
                    modifier_group_ids: []
                    is_ingredient: false
                    image_url: ''
                    variants: []
                    shops:
                    - id: SC9hTttrkllc2VSTGF2dkJZVzYzdz09
                      price: 5500.0
                      available_for_sale: true
                      safety_stock: 10
                    - id: ZSC9hT1d5Skllc2VSF2dkJZVzYzdz09
                      price: 5500.0
                      available_for_sale: true
                      safety_stock: 10
                    - id: AC9hT1d5Skllc2VSTGF2dkJZVzYzdz09
                      price: 5500.0
                      available_for_sale: true
                      safety_stock: 10
                    created_date: '2022-07-20 13:54:33'
                    updated_date: '2022-07-20 14:10:09'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      code:
                        type: string
                        description: The error code.
                      details:
                        type: string
                        description: The details of the error.
              example:
                errors:
                  code: UNAUTHORIZED
                  details: Access token is not valid.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                product_ids:
                  type: string
                  description: Return only items specified by a comma-separated list of IDs
                created_at_min:
                  type: string
                  format: date-time
                  description: Minimum created date (Y-m-d H:i:s) 24 hours format
                created_at_max:
                  type: string
                  format: date-time
                  description: Maximum created date (Y-m-d H:i:s) 24 hours format
                updated_at_min:
                  type: string
                  format: date-time
                  description: Minimum updated date (Y-m-d H:i:s) 24 hours format
                updated_at_max:
                  type: string
                  format: date-time
                  description: Maximum updated date (Y-m-d H:i:s) 24 hours format
                limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 10
                  description: Maximum number of products to return
                cursor:
                  type: string
                  description: Cursor for pagination
    post:
      tags:
      - Product
      description: This API will allow to create products from SalesPlay POS.
      operationId: Create or update a single product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_code:
                  type: string
                  description: The code of the product
                product_name:
                  type: string
                  description: The name of the product
                barcode:
                  type: string
                  description: The barcode of the product
                description:
                  type: string
                  description: The description of the product
                category_id:
                  type: string
                  description: The ID of the category
                sub_category_id:
                  type: string
                  description: The ID of the subcategory
                measurement_id:
                  type: string
                  description: The ID of the measurement
                cost:
                  type: string
                  description: The cost of the product
                stock_control:
                  type: boolean
                  description: Indicates if stock control is enabled
                product_price_change:
                  type: boolean
                  description: Indicates if product price change is allowed
                qty_change_option:
                  type: boolean
                  description: Indicates if quantity change option is enabled
                expire_mode:
                  type: boolean
                  description: Indicates if expiration mode is enabled
                is_composite:
                  type: boolean
                  description: Must be sent as false. Composite products are not supported by this API.
                  default: false
                  example: false
                use_production:
                  type: boolean
                  description: Must be sent as false. Production products are not supported by this API.
                  default: false
                  example: false
                is_variant:
                  type: boolean
                  description: Indicates if the product is a variant
                components:
                  type: array
                  items:
                    type: object
                  description: List of components
                tax_ids:
                  type: array
                  items:
                    type: string
                  description: List of tax IDs
                modifiers_ids:
                  type: array
                  items:
                    type: string
                  description: List of modifier IDs
                option1_name:
                  type: string
                  description: Name of option 1
                option2_name:
                  type: string
                  description: Name of option 2
                option3_name:
                  type: string
                  description: Name of option 3
                created_at:
                  type: string
                  format: date-time
                  description: The creation date of the product
                updated_at:
                  type: string
                  format: date-time
                  description: The update date of the product
                variants:
                  type: array
                  items:
                    type: object
                    properties:
                      product_code:
                        type: string
                        description: The code of the product variant
                      option1_value:
                        type: string
                        description: Value of option 1 for the variant
                      option2_value:
                        type: string
                        description: Value of option 2 for the variant
                      option3_value:
                        type: string
                        description: Value of option 3 for the variant
                      barcode:
                        type: string
                        description: The barcode of the variant
                      default_cost:
                        type: number
                        description: The default cost of the variant
                      shops:
                        type: array
                        items:
                          type: object
                          properties:
                            store_id:
                              type: string
                              description: The ID of the store
                            price:
                              type: string
                              description: The price of the variant in the store
                            available_for_sale:
                              type: boolean
                              description: Indicates if the variant is available for sale in the store
                            safety_stock:
                              type: string
                              description: The safety stock of the variant in the store
                shops:
                  type: array
                  items:
                    type: object
                    properties:
                      shop_id:
                        type: string
                        description: The ID of the shop
                      price:
                        type: string
                        description: The price of the product in the shop
                      available_for_sale:
                        type: boolean
                        description: Indicates if the product is available for sale in the shop
                      safety_stock:
                        type: string
                        description: The safety stock of the product in the shop
              required:
              - product_code
              - product_name
              - cost
              - stock_control
              - product_price_change
              - qty_change_option
              - expire_mode
              - is_composite
              - use_production
              - is_variant
              - shops
      responses:
        '200':
          description: Product created or updated successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                      description: Result code, `SUCCESS` on success
                    details:
                      type: string
                      description: Human-readable result message
                    product_ids:
                      type: array
                      description: The created or updated products
                      items:
                        type: object
                        properties:
                          product_code:
                            type: string
                            description: The product code you sent
                          product_id:
                            type: string
                            description: Encrypted ID assigned by SalesPlay
                example:
                - code: SUCCESS
                  details: Product successfully added
                  product_ids:
                  - product_code: DOC-TEST-001
                    product_id: Nmp3Sk9yNTNhTTdodDBqdnVyZm1odz09
  /product_image:
    post:
      tags:
      - Product Image
      description: This API allows uploading or updating a product image in SalesPlay POS.
      operationId: Upload product image
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - product_code
              - image
              properties:
                product_code:
                  type: string
                  description: Unique product code
                image:
                  type: file
                  format: .png / .jpg / .jpeg
                  description: Product image file
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: object
                    properties:
                      code:
                        type: string
                        example: SUCCESS
                        description: Response code for success.
                      details:
                        type: string
                        example: Product image successfully updated
                        description: Details of the success message.
    delete:
      tags:
      - Product Image
      description: This API allows deleting a product image from SalesPlay POS.
      operationId: Delete product image
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: object
                    properties:
                      code:
                        type: string
                        example: SUCCESS
                        description: Response code for success.
                      details:
                        type: string
                        example: Product image successfully removed
                        description: Details of the success message.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_code:
                  type: string
                  description: Unique product code
              required:
              - product_code
  /receipts:
    get:
      tags:
      - Receipts
      description: This API will allow get the list of receipts (Invoices).
      operationId: Receipts
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  receipts:
                    type: array
                    items:
                      type: object
                      properties:
                        receipt_number:
                          type: string
                          description: The internal identifier for the receipt. It is unique.
                        receipt_type:
                          type: string
                          description: Type of receipt (SALE)
                        refund_for:
                          type: string
                          description: Reference to the original receipt if it's a refund
                        order_reference_id:
                          type: string
                          description: Order reference id
                        order_reference_number:
                          type: string
                          description: Order reference number
                        receipt_date:
                          type: string
                          format: date
                          description: The receipt date
                        receipt_time:
                          type: string
                          format: time
                          description: The receipt time
                        receipt_date_time:
                          type: string
                          format: date-time
                          description: The receipt date and time
                        total_money:
                          type: number
                          description: The total money amount paid by customer (or returned to customer in case of refund).
                            The value includes discounts, taxes, surcharges and tips.
                        customer_id:
                          type: string
                          description: The customer id associated with the receipt
                        customer:
                          type: array
                          description: Customer details
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Customer ID
                              customer_code:
                                type: string
                                description: Customer reference code
                              name:
                                type: string
                                description: Customer name
                              email:
                                type: string
                                description: Customer email
                              phone_number:
                                type: string
                                description: Customer phone number
                              address:
                                type: string
                                description: Customer address
                              city:
                                type: string
                                description: Customer city
                              region:
                                type: string
                                description: Customer region
                              postal_code:
                                type: string
                                description: Postal code
                              country_code:
                                type: string
                                description: ISO country code
                              vat_number:
                                type: string
                                description: VAT number
                              tin_number:
                                type: string
                                description: TIN number
                              business_registration_number:
                                type: string
                                description: Business registration number
                              customer_id_type_code:
                                type: string
                                description: Customer ID type code
                              customer_id_type_name:
                                type: string
                                description: Customer ID type name
                              customer_id_number:
                                type: string
                                description: Customer ID number
                              description:
                                type: string
                                description: Notes or comments
                        total_discount:
                          type: number
                          description: The total amount of all discounts applied in the receipt
                        total_discounts:
                          type: array
                          items:
                            type: object
                            properties:
                              plan_id:
                                type: string
                                description: The plan id
                              plan_name:
                                type: string
                                description: The plan name
                              discount_type:
                                type: string
                                description: The type of the applied discount
                              discount_value:
                                type: number
                                description: The discount value
                              money_amount:
                                type: number
                                description: The total money amount of this discount for the receipt.
                          description: The list of discounts and it's amounts applied to the receipt
                        employee_id:
                          type: string
                          description: The employee id
                        shop_id:
                          type: string
                          description: The shop id
                        pos_device_id:
                          type: string
                          description: The POS device id
                        order_type:
                          type: string
                          description: The order type
                        order_number:
                          type: string
                          description: the order number
                        note:
                          type: string
                          description: The receipt's note
                        total_tax:
                          type: number
                          description: The total amount of all taxes (VAT and sales tax) applied in the receipt
                        total_charge:
                          type: number
                          description: The total charges
                        line_products:
                          type: array
                          items:
                            type: object
                            properties:
                              product_id:
                                type: string
                                description: The product id for this line product
                              product_code:
                                type: string
                                description: The product code
                              quantity:
                                type: number
                                description: The number of products that were purchased (or refunded in case of refund)
                              price:
                                type: number
                                description: The price of the one product.
                              gross_total_money:
                                type: number
                                description: The total money amount for this line product
                              total_discount:
                                type: number
                                description: The total discount amount applied to the line product
                              total_money:
                                type: number
                                description: The total money amount for this line product after applying discounts and all
                                  taxes for this line item
                              cost:
                                type: number
                                description: The cost of the single item at the moment of transaction
                              cost_total:
                                type: number
                                description: The total cost for this line item at the moment of transaction
                              line_note:
                                type: string
                                description: The line product note
                              line_discounts:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    plan_id:
                                      type: string
                                      description: The plan id
                                    plan_name:
                                      type: string
                                      description: The plan name
                                    discount_type:
                                      type: string
                                      description: The discount type
                                    discount_value:
                                      type: number
                                      description: The discount value
                                    money_amount:
                                      type: number
                                      description: The money amount of this discount for the line product.
                                description: The list of discounts applied to the line product
                              line_taxes:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: TThe tax id
                                    tax_code:
                                      type: string
                                      description: The tax code
                                    money_amount:
                                      type: number
                                      description: Money amount
                                    rate:
                                      type: number
                                      description: The rate of the tax
                                description: The money amount of this tax for the line item
                              line_modifiers:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      description: The modifier id
                                    modifier_code:
                                      type: string
                                      description: The modifier code
                                    quantity:
                                      type: number
                                      description: The quantity
                                    money_amount:
                                      type: number
                                      description: The total money amount of the modifier applied to the line product
                                description: The list of modifiers applied to the line item
                          description: The line products included in the receipt
                        payments:
                          type: array
                          items:
                            type: object
                            properties:
                              payment_type_id:
                                type: string
                                description: Payment type ID
                              payment_type:
                                type: string
                                description: Payment type
                              money_amount:
                                type: number
                                description: Money amount
                              paid_at:
                                type: string
                                format: date-time
                                description: Payment timestamp
                              is_advance:
                                type: integer
                                description: Indicates it's an advance payment (1 for advance payment)
                            description: Array of payments
                        receipt_delete_status:
                          type: boolean
                          description: Receipt delete status
                        receipt_delete_date_time:
                          type: string
                          format: date-time
                          description: Receipt delete date and time
                        cashier_name:
                          type: string
                          description: The cashier name of the receipt
                        kot_reference_number:
                          type: string
                          description: The KOT reference number
                    description: Array of receipts
                  cursor: *id001
                example:
                  receipts:
                  - receipt_number: 1-2207203
                    receipt_type: SALE
                    refund_for: null
                    order_reference_id: ''
                    order_reference_number: ''
                    receipt_date: '2022-07-20'
                    receipt_time: 5:21 PM
                    receipt_date_time: '2022-07-20 17:21:26'
                    total_money: '600.00'
                    customer_id: '1000'
                    total_discount: '0.00'
                    total_discounts:
                    - plan_id: ''
                      plan_name: Custom
                      discount_type: Percentage
                      discount_value: ''
                      money_amount: ''
                    employee_id: d3BXNFo1VC9oRGtlTzNQYnpXQzdMUT09
                    cashier_name: John Doe
                    shop_id: QUV4bFFxc0dvcm5UZzRKakRobnpQZz09
                    pos_device_id: WnB3L2w0UHl4K2U2Rk1iZWFpSE55dz09
                    order_type: ''
                    order_number: ''
                    kot_reference_number: ''
                    note: ''
                    total_tax: 0
                    total_charge: 0
                    line_products:
                    - product_id: eEFGdG9QL3lUV0hqRVMvd2lGaWZCZz09
                      product_code: '10030'
                      quantity: '1'
                      price: 600.0
                      gross_total_money: 600.0
                      total_discount: 0
                      total_money: 600.0
                      cost: 0
                      cost_total: 0
                      line_note: ''
                      line_discounts:
                      - plan_id: ''
                        plan_name: Custom
                        discount_type: Percentage
                        discount_value: 0
                        money_amount: 0
                      line_taxes:
                      - id: azlpMTFuYUk2NFVnai9qRG11S0Z2dz09
                        tax_code: ENV
                        money_amount: ''
                        rate: ''
[...]
